{% load staticfiles %}
<head><title>EdGenie | Home</title>
<link href='http://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link href="{% static 'user_register/bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'user_register/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/signup.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/some.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/bootstrap-select.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'user_register/images/favicon.png' %}" />

</head>

<body style="background-color: #dddddd;">

  <div style="background-color: #ffffff;">

    <div class="navbar nav-default navbar-fixed-top" style="background-color: gray;">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" style="background-color: #666666;"></span>
          <span class="icon-bar" style="background-color: #666666;"></span>
          <span class="icon-bar" style="background-color: #666666;"></span>
        </button>
        <div style="padding-top: 10px; float: left; padding-left: 10px;"><img src="{% static 'user_register/images/edGeniewhite.png' %}" class="img-responsive center-block" style="height: 28.34px; width: 100px;"></div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <div class="navbar-inner">
        <ul class="nav navbar-nav pull-left" id="example2">
          <li id="hbor"><a href="#home" class="active" style="color: #FFFFFF;">Home</a></li>
          <li id="hobor"><a href="#how" style="color: #FFFFFF;">How it works</a></li>
          <li id="fbor"><a href="#faqs" style="color: #FFFFFF;">Opinions</a></li>
          <li id="cbor"><a href="#contact" style="color: #FFFFFF;">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right" id="landing-page-nav">
          <li style="padding-top: 8px;"><button class="btn btn-primary" id="login">login</button></li>
          <li style="padding-top: 8px;"><button class="btn btn-primary" id="register">register</button></li>
          </ul>
          </div>
          </div>
          </div>
          <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="padding-left: 40px;">See you on other side!</h3>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
              <div class="row" style="margin-bottom: 0px;">
                <div class="span6 offset3" style="margin-bottom: 0px;">
                  <form class="form-horizontal" method="post" action="/welcome/" style="margin-bottom: 0px;">{% csrf_token %}

                    <div class="form-group">
                    <div class="col-xs-1 col-md-1"></div>
                      <div class="col-xs-10 col-md-10">
                      <div style="color: red;">{{error}}</div>
                        <input type="text" name="useremail" class="form-control" placeholder="Enter your registered email" style="height: 50px;" autocomplete="on" />
                      </div>
                      <div class="col-xs-1 col-md-1"></div>
                    </div>
                    <div class="form-group">
                    <div class="col-xs-1 col-md-1"></div>
                      <div class="col-xs-10 col-md-10">
                        <input type="password" name="pwd" class="form-control" placeholder="Password" style="height: 50px;"/>
                      </div>
                      <div class="col-xs-1 col-md-1"></div>
                    </div>
                    <div class="col-xs-1 col-md-1"></div>
                    <p style="font-size: 14px;"><a href="#resetpassword" id="reset">Hmm, don't remember</a></p>

                    <div class="form-group" style="padding-bottom: 20px;">
                    <div class=" col-xs-1 col-md-1"></div>
                      <div class="col-xs-8 col-md-6">
                        <input type="submit" value="Log In" class="btn btn-primary form-control" style="background: #006699;"/>
                      </div>
                    </div>

                    <div class="form-group" style="padding-left: 15px; padding-right: 15px; margin-bottom: 0px;">

                      <div class="col-xs-4 col-md-4" style="background-color: #CCCCCC; padding-top: 10px; padding-bottom: 10px;">
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i class="fa fa-facebook fa-3x" style="color: gray;"></i></a></div>
                        <div class="col-xs-4 col-md-4" style="background-color: #CCCCCC; padding-top: 10px; padding-bottom: 10px;">
                         <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" style="float: center;" ><i class="fa fa-google-plus fa-3x" style="color: gray; margin-left: 20px;"></i></a></div>
                         <div class="col-xs-4 col-md-4" style="background-color: #CCCCCC; padding-top: 10px; padding-bottom: 10px;">
                           <a href="{% url 'social:begin' 'linkedin' %}?next={{ request.path }}" style="float: right;"><i class="fa fa-linkedin fa-3x" style="color: gray;"></i></a></div>

                         </div>
                       </form>
                     </div>
                     <div class="form-group" style="margin-bottom: 0px;">
                     <div class="col-xs-12 col-md-12" style="background: #999999;">
                   <div class="col-xs-1 col-md-1"></div>
               <div class="col-xs-10 col-md-10" style="text-align: center; padding-top:30px;">
                 <div style="color: #FFFFFF; font-size: 20px; padding-bottom: 20px;">Sign up Now</div>

                 <div class="form-group">
                   <div class="col-xs-6 col-md-6" style="border-right: 2px solid white;">
                   <span style="font-size: 20px; color: #FFFFFF;">30 seconds<br/></span><span style="font-size: 14px; color: #FFFFFF;">to sign up free!</span>
                   </div>

                   <div class="col-xs-6 col-md-6">
                    <span style="font-size: 20px; color: #FFFFFF;">3 full length<br></span><span style="font-size: 14px; color: #FFFFFF;">adaptive practice tests</span>
                  </div>
                  </div>

                 <div class="form-group">
                   <div class="col-xs-1 col-md-4">
                   </div>
                   <div class="col-xs-10 col-md-4" style="padding-top: 40px; padding-bottom: 40px;">
                    <button class="btn btn-primary form-control" id="b2">Register</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-1 col-md-1"></div>
              </div>
                   </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="padding-left: 40px;">Register with us today!</h3>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
              <div class="row" style="padding-top: 10px;">
                    <div class="span6 offset3">
                      <form class="form-horizontal" method="post" action="/welcome/" style="margin-bottom: 0px;">{% csrf_token %}
                      <div class="form-group">
                      <div class="col-xs-1 col-md-1"></div>
                          <div class="col-xs-10 col-md-10">
                          <div style="color: red;">{{error}}</div>
                            <select class="form-control" style="height: 50px;" name="option" autocomplete="off">
                                <option value="NA">----Choose your category----</option>
                              <option value="ST">I am a student</option>
                              <option value="TU">I am a tutor</option>
                              <!-- <option value="PA">I am a parent</option> -->
                            </select>
                          </div>
                          <div class="col-xs-1 col-md-1"></div>
                          </div>

                        <div class="form-group">
                        <input type="text" class="zone" name="zone" style="display: none;">
                        <div class="col-xs-1 col-md-1"></div>
                          <div class="col-xs-10 col-md-10">
                            <input type="text" name="reg_username" class="form-control" placeholder="Your full name" style="height: 50px;" id="text1" autocomplete="off"/>
                          </div>
                          <div class="col-xs-1 col-md-1"></div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-1 col-md-1"></div>
                          <div class="col-xs-10 col-md-10">
                            <input type="email" name="email" class="form-control" placeholder="Your e-mail, the one you use!" style="height: 50px;" autocomplete="off"/>
                          </div>
                          <div class="col-xs-1 col-md-1"></div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-1 col-md-1"></div>
                          <div class="col-xs-10 col-md-10">
                            <input type="password" name="reg_pwd" class="form-control" placeholder="A memorable password" style="height: 50px;" data-container="body" data-toggle="popover" data-placement="bottom" id="hints"/>
                          </div>
                          <div class="col-xs-1 col-md-1"></div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-1 col-md-1"></div>
                          <div class="col-xs-8 col-md-6">
                            <input type="submit" value="Sign Up" class="btn btn-primary form-control" style="background: #006699;" disabled="disabled"/>
                          </div>
                          <div class="col-xs-2 col-md-5">
                          </div>
                        </div>
                        <div class="form-group" style="padding-left: 15px; padding-right: 15px; margin-bottom: 0px;">

                      <div class="col-xs-4 col-md-4" style="background-color: #CCCCCC; padding-top: 10px; padding-bottom: 10px;">
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i class="fa fa-facebook fa-3x" style="color: gray;"></i></a></div>
                        <div class="col-xs-4 col-md-4" style="background-color: #CCCCCC; padding-top: 10px; padding-bottom: 10px;">
                         <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" style="float: center;" ><i class="fa fa-google-plus fa-3x" style="color: gray;"></i></a></div>
                         <div class="col-xs-4 col-md-4" style="background-color: #CCCCCC; padding-top: 10px; padding-bottom: 10px;">
                           <a href="{% url 'social:begin' 'linkedin' %}?next={{ request.path }}" style="float: right;"><i class="fa fa-linkedin fa-3x" style="color: gray;"></i></a></div>

                         </div>
                           </form>
                         </div>
                         <div class="col-xs-12 col-md-12" style="background: #999999;">
                         <div class="col-xs-1 col-md-1"></div>
                         <div class="col-xs-10 col-md-10" style="text-align: center; padding-top:30px; padding-bottom: 30px;">
                     <div style="color: #FFFFFF; font-size: 20px; padding-bottom: 10px;">Already a member?</div>
                     <div style="font-size: 16px; color: #FFFFFF;">Login to take a step closer<br> from your dream score</div>
                     <div class="form-group" style="padding-top: 20px;">
                   <div class="col-xs-1 col-md-4">
                   </div>
                   <div class="col-xs-10 col-md-4">
                    <button class="btn btn-primary form-control" id="b1">Login</button>
                  </div>
                </div>
                  </div>
                  <div class="col-xs-1 col-md-1"></div>
                       </div>
                       </div>
      </div>

    </div>
  </div>
</div>

 <div class="modal fade" id="resetmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="padding-left: 40px;">Forgot Password</h3>
      </div>
      <div class="modal-body" style="padding: 0px;">

              <div class="row" style="margin: 0px;">
                <div class="span6 offset3" style="margin: 0px;">
                  <form class="form-horizontal" method="post" style="margin-bottom: 0px;">{% csrf_token %}
                    <div class="form-group">
                    <div class="col-xs-1 col-md-1"></div>
                      <div class="col-xs-10 col-md-10">
                      <div style="font-size: 20px;">Enter your email address and we'll send you a link to reset your password</div>
                        <input type="email" name="resetemail" class="form-control" placeholder="Email, the one you use" style="height: 50px;" autocomplete="off"/>
                      </div>
                      <div class="col-xs-1 col-md-1"></div>
                    </div>
                    <div class="form-group" style="padding-bottom: 20px;">
                    <div class=" col-xs-1 col-md-1"></div>
                      <div class="col-xs-8 col-md-6">
                        <input type="submit" value="send link" class="btn btn-primary form-control" style="background: #006699;"/>
                      </div>
                    </div>
                    <!-- </div> -->
                       </form>
                       <div class="col-md-12" style="padding: 0px; background-color: #999999;">
                       <div class="col-md-1"></div>
                       <div align="center">
                    <div class="col-md-10" style="padding-top: 30px; padding-bottom: 30px;">
                      <div style="color: #fff;">Not a member?</div>
                      <div style="color: #fff; font-size: 18px;"><a href="#regmodal" id="regmodal" style="color: #fff;">Register with us</a></div></div>
                      <div class="col-md-1"></div>
                     </div>
                   </div>
                   </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    {% if email %}
    <div class="modal fade" id="resetnowmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="padding-left: 40px;">Forgot Password</h3>
      </div>
      <div class="modal-body" style="padding: 0px;">

              <div class="row" style="margin: 0px;">
                <div class="span6 offset3" style="margin: 0px;">
                  <form class="form-horizontal" method="post" style="margin-bottom: 0px;">{% csrf_token %}
                    <div class="form-group">
                    <div class="col-xs-1 col-md-1"></div>
                      <div class="col-xs-10 col-md-10">
                      <div style="font-size: 20px;">Reset your Password</div>
                        <input type="password" name="resetpass" class="form-control" placeholder="Enter new password" style="height: 50px;" autocomplete="off"/>
                        <input type="email" name="hidemail" value="{{email}}" style="display: none;">
                      </div>
                      <div class="col-xs-1 col-md-1"></div>
                    </div>
                    <div class="form-group" style="padding-bottom: 20px;">
                    <div class=" col-xs-1 col-md-1"></div>
                      <div class="col-xs-8 col-md-6">
                        <input type="submit" value="Reset" class="btn btn-primary form-control" style="background: #006699;"/>
                      </div>
                    </div>
                    <!-- </div> -->
                       </form>
                       <div class="col-md-12" style="padding: 0px; background-color: #999999;">
                       <div class="col-md-1"></div>
                       <div align="center">
                    <div class="col-md-10" style="padding-top: 30px; padding-bottom: 30px;">
                      <div style="color: #fff;">Not a member?</div>
                      <div style="color: #fff; font-size: 18px;"><a href="#regmodal" id="regmodal" style="color: #fff;">Register with us</a></div></div>
                      <div class="col-md-1"></div>
                     </div>
                   </div>
                   </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endif %}

        <div class="container" style="padding-top: 180px; padding-bottom: 70px; border-bottom: 2px solid gray;" id="home">
        <div id="cenable" class="alert alert-danger" role="alert" style="position: relative; top: -50px; display: none;">Cookies are needed to proceed. Please enable your cookies.</div>
{% if error %}
      <div class="alert alert-danger" role="alert" style="position: relative; top: -50px;">{{error}}</div>
    {% endif %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="alert alert-danger" role="alert" style="position: relative; top: -50px;">{{message}}</div>
  {% endfor %}
</ul>
{% endif %}
      <div align="center" style="padding-bottom: 5px;">
      <div class="col-md-12 col-xs-12">
            <img src="{% static 'user_register/images/learnaptive blue.png' %}" class="img-responsive center-block" style="height: 113.40px; width: 400px;">

            <!--<span style="color: #666666;">Adap<b style="color: #006699;">tube</b></span><br>-->
            <!--<figcaption style="font-size: 14px; width: 230px; color: #999999; line-height: 120%;">Adapting to your needs</figcaption>-->

        </div>
        <div><i style="color: #808080; letter-spacing: 2.5px;"> The scientific method for teaching science!</i></div>
          <p> </p> <p style="padding-top: 50px; font-size: 20px; color: #666666;"> EdGenie deploys cutting edge technology using Cognitive Science and Big Data algorithms to deliver adaptive content that enables students, parents and tutors to beat the SAT and ACT by personalising lessons to the student's pace, style and potential.</p>
      </div>

    </div>
  </div>
<div style="background-color: #fff;">
<div class="container" style="padding-top: 60px; padding-bottom: 30px; border-bottom: 2px solid gray;" id="how">
<div align="center" style="font-size: 20px;">Let our algorithms adapt to your style and pace and improve your performance by eliminating upto 20% inefficiency.</div>
<div style="padding-top: 30px;">
<div class="col-md-3">
<img src="{% static 'user_register/images/strenthandweakness.jpg' %}" class="img-responsive center-block" style="height: 150px; width: 150px;">
  <p style="font-size: 20px; color: #008080;" align="center">Strengths and Weaknesses Modeling</p>
           <p style="text-align: center;"><span style="color: #333333;">We continuously assess your speed and accuracy in all the concepts in order to deliver the most impactful engagement plan to achieve your goals, personalized for you.</span></p>
</div>
<div class="col-md-3">
<img src="{% static 'user_register/images/railtracks.jpg' %}" class="img-responsive center-block" style="height: 150px; width: 150px;">
  <p style="font-size: 20px; color: #008080;" align="center">Personalised Learning Pathway</p>
  <p style="text-align: center;"><span style="color: #333333;">We dyamically create a lesson plan that is expected to maximize your learning, based on your current &nbsp;state and expected future potentials</span></p>
</div>
<div class="col-md-3">
<img src="{% static 'user_register/images/LearningStyles.png' %}" class="img-responsive center-block" style="height: 150px; width: 150px;">
  <p style="font-size: 20px; color: #008080;" align="center">Learning Style<br/> modeling</p>
  <p style="text-align: center;"><span style="color: #333333;">Every student has a unique relationship with various concepts in the syllabus. We figure out your learning personality and deliver lessons using the best modality for that relationship</span></p>
</div>
<div class="col-md-3">
<img src="{% static 'user_register/images/laptopandcoffee.jpg' %}" class="img-responsive center-block" style="height: 150px; width: 150px;">
  <p style="font-size: 20px; color: #008080;" align="center">On-Demand<br/> tutoring</p>
  <p style="text-align: center;"><span style="color: #333333;">Get private tutorials via &nbsp;text, voice or video chat from some of the best tutors in the world. We also help you figure out how many sessions do you need and on what weaknesses you should focus.</span></p>
</div>
</div>
</div>
</div>
<div class="col-xs-4 col-md-4"></div>
<!--<div class="col-xs-4 col-md-4" style="top: -25px;">
  <button class="btn btn-primary form-control" style="height: 50px;">Take a tour</button>
</div>-->
<div class="col-xs-4 col-md-4"></div>

          <div style="background-color: white;" class="content">
            <!--<div class="container" style="border-bottom: 2px solid gray; padding-bottom: 100px;">
              <div style="padding-top: 50px;">
                <div style="padding-top: 60px;">
                  <div class="col-sm-4 col-md-4" id="home">
                    <img src="{% static 'user_register/images/adapjustlogo.png' %}" alt="Not Found" class="img-circle center-block"><div>
                    <p style="padding-top: 20px; text-align: center;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <img src="{% static 'user_register/images/adapjustlogo.png' %}" alt="Not Found" class="img-circle center-block"><div>
                  <p style="padding-top: 20px; text-align: center;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <img src="{% static 'user_register/images/adapjustlogo.png' %}" alt="Not Found" class="img-circle center-block"><div>
                <p style="padding-top: 20px; text-align: center;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
            </div>
          </div>



        </div>

      </div>-->
      <div class="container" style="border-bottom: 2px solid gray; padding-bottom: 100px;" id="faqs">
        <div class="col-xs-8 col-md-8">
          <div>
            <p style="padding-top: 60px;"><p><span style="color: #008080; font-size: 18px;">Mark Ettinger, PhD Mathematics, UWM, MIT</span></p>
<p>&nbsp;<span style="font-size: 18px;">"Algorithms which track individual learning and obstacles to learning will free students from the limitations imposed by current instruction which is oriented toward "average" or "typical" misunderstandings. Very soon, you will learn your way and I'll learn my way and we'll meet at the bleeding edge of unknowing to tackle the world's most intractable problems."</span></p></p>
          </div>
        </div>
        <div class="col-xs-4 col-md-4" style="padding-top: 60px;">
          <img src="{% static 'user_register/images/markettinger.jpg' %}" alt="Not Found" class="img-circle center-block" style="height: 150px; width: 150px;">
        </div>
      </div>
      <div class="container" style="border-bottom: 2px solid gray; padding-bottom: 100px;">

        <div class="col-xs-4 col-md-4" style="padding-top: 60px;">
          <img src="{% static 'user_register/images/bodhisattva.jpg' %}" alt="Not Found" class="img-circle center-block" style="height: 150px; width: 150px;">
        </div>
        <div class="col-xs-8 col-md-8">
          <div>
            <p style="padding-top: 60px;"><p><span style="color: #008080; font-size: 18px;">Bodhisattva Sen, PhD Statistics, Professor at Columbia University, NY</span></p>
<p>&nbsp;<span style="font-size: 18px;">"Technology has changed everything about the human culture - the way we connect with others, the way we exchange ideas and the way we experience life. We can only wonder how technology will change the way we learn in the near future, and it seems that Adaptive Learning will be the most exciting catalyst in this revolution."</span></p></p>
          </div>
        </div>
      </div>
      <div class="container" style="padding-bottom: 100px; border-bottom: 2px solid gray;">
        <div class="col-xs-8 col-md-8">
          <div>
            <p style="padding-top: 60px;"><p><span style="color: #008080; font-size: 18px;">Gongjun Xu, PhD Statistics, Professor at University of Minnesota</span></p>
<p>&nbsp;<span style="font-size: 18px;">"Adaptive testing has already gained prominence in the field of educational and psychological measurement. Adaptive Learning procedures that incorporate each individual's learning behavior to create a personalized learning pathway are surely going to be more efficient ways of learning!"</span></p></p>
          </div>
        </div>
        <div class="col-xs-4 col-md-4" style="padding-top: 60px;">
          <img src="{% static 'user_register/images/gongjun.png' %}" alt="Not Found" class="img-circle center-block" style="height: 150px; width: 150px;">
        </div>
      </div>
      </div>

      <div class="container" style="padding-bottom: 100px;">
        <div id="contact" align="center" style="font-size: 20px; padding-top: 30px;">
          <p style="font-size: 30px;">We will be launching soon...</p><br> For Beta access contact us at info@learnaptive.com
      </div>
      </div>
<!--<div style="background-color: #141927;" class="content">
<div class="container" style="padding-bottom: 100px; background-color: #141927;">
        <div class="col-xs-1 col-md-1" style="padding-top: 60px;" id="contact"><img src="{% static 'user_register/images/double-quotes.jpg' %}" id="quotes" class="center-block"></div>
        <div class="col-xs-11 col-md-11" style="padding-top: 60px; color: white;"><b>99% of our customers recommend us</b></div>
        <div class="col-xs-5 col-md-5" style="padding-top: 60px; color: white;">
          <div class="col-md-4"><img src="{% static 'user_register/images/adapjustlogo.png' %}" alt="Not Found" class="img-circle center-block">
          </div>
          <div class="col-md-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
        </div>
        <div class="col-xs-5 col-md-5" style="padding-top: 60px; color: white;">
          <div class="col-md-4"><img src="{% static 'user_register/images/adapjustlogo.png' %}" alt="Not Found" class="img-circle center-block">
          </div>
          <div class="col-md-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
        </div></div>
      </div>-->
      <div style="background-color: gray;" class="content">
      <div class="container" style="background-color: gray; line-height: 50px;">
          <p>&copy; EdGenie 2014</p>

        </div>
      </div>

      <div class="popover_content" style="display: none;">
        <div>
          <div class="hi">
            <div class="circle sm_val">

            </div>
          </div>
          <div class="main sm_text">
            Have at least one small letter
          </div>
        </div>
        <div>
          <div class="hi">
            <div class="circle cap_val">

            </div>
          </div>
          <div class="main cap_text">
            Have at least one capital letter
          </div>
        </div>
        <div>
          <div class="hi">
            <div class="circle num_val">

            </div>
          </div>
          <div class="main num_text">
            Have at least one number
          </div>
        </div>
        <div>
          <div class="hi">
            <div class="circle char_val">

            </div>
          </div>
          <div class="main char_text">
            Be atleast 8 characters
          </div>
        </div>
      </div>

  <script src="{% static 'user_register/bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery-ui.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery.flip.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery.flip.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery.clingify.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/some.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/custom.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/bootstrap-select.js' %}"></script>
      <script type="text/javascript">
        $("#b1").click(function(){
          $("#card").toggleClass("flipped");
        });
      </script>

      <script type="text/javascript">
        $("#b2").click(function(){
          $("#card").toggleClass("flipped");
        });
      </script>

      <script type="text/javascript">
        $('#hints').popover({
          trigger: 'focus',
          html: true,
          content: function(){
            return $(".popover_content").html();
          }
        });
      </script>

      <script type="text/javascript">
        $(document).nameValidation();
        $(document).pwdHelpChar();
        $(document).pwdHelpCap();
        $(document).pwdHelpNum();
        $(document).pwdHelpSm();
        //$(document).scrollHov();
        $(document).scrollHov1();
        $('#login').click(function(){
          $('#loginmodal').modal();
        });
        $('#register').click(function(){
          $('#registermodal').modal();
        });
        $('#reset').click(function(){
          $('#loginmodal').modal('hide');
          $('#resetmodal').modal();
        });
        $('#b1').click(function(){
          $('#registermodal').modal('hide');
          $('#loginmodal').modal();
        });
        $('#b2').click(function(){
          $('#loginmodal').modal('hide');
          $('#registermodal').modal();
        });
        $('#regmodal').click(function(){
          $('#resetmodal').modal('hide');
          $('#registermodal').modal();
        });
      $('.selectpicker').selectpicker();
      </script>
      {% if email %}
      <script type="text/javascript">
      var cookieEnabled = navigator.cookieEnabled;
      if(cookieEnabled===true){
      $('#resetnowmodal').modal();
    }
    else{
      $('#resetnowmodal').modal('hide');
    }
      </script>
      {% endif %}
<script type="text/javascript">
  var d = new Date()
  $('.zone').val(d.getTimezoneOffset());
</script>
<script type="text/javascript">
   var cookieEnabled = navigator.cookieEnabled;
   if(cookieEnabled===false){
    $('#cenable').css('display', 'block');
    $('#login').attr('disabled', 'disabled');
    $('#register').attr('disabled', 'disabled');
   }
   else{
    $('#login').removeAttr('disabled', 'disabled');
    $('#register').removeAttr('disabled', 'disabled');
   }
</script>
<script type="text/javascript">
  $(document).emailVal();
  $(document).selectCat();
</script>
    </body>
