{% load staticfiles %}
<head><title>EdGenie | Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link href="{% static 'user_register/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/signup.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/clingify.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/some.css' %}" rel="stylesheet">

</head>
<body style="background-color: #dddddd;">
<div style="background-color: #ffffff;">
<div class="container" style="background-color: #ffffff; padding-bottom: 30px;">
    <div class="form-group" style="padding-top:20px;">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" align="center">
    <div class="col-md-12 col-xs-12">
            <img src="{% static 'user_register/images/learnaptive blue.png' %}" class="img-responsive center-block" style="height: 56.69px; width: 200px;">
        </div>
        <div><i style="color: #808080; font-size: 10px;"> The scientific method for teaching science!</i></div>
    </div>

    <div class="col-md-2">
    </div>

    </div>
    </div>
    </div>
    <div style="padding-top: 70px; padding-bottom: 70px;">

    <div class="col-md-3"></div>
<div class="col-md-6" style="background-color: #ffffff;">

    <div style="padding-top: 50px; padding-bottom: 70px;">
    <div class="form-group" style="padding-top:20px;">
    <div class="col-md-2">
    </div>

<div class="col-md-8" style="padding-bottom: 40px;" align="center">
<div style="padding-bottom: 30px; font-size: 24px; color: #666666;">Welcome to EdGenie, {{username.title}} You are a {{ category }}</div>
{% if not user.is_active %}
      <div class="alert alert-success" role="alert">
        A confirmation mail has been sent to the email given by you. To proceed further please confirm
        your account.<a href="/" class="alert-link">Click here to go back</a>
      </div>
    {% endif %}

{% if user.is_active %}
  <div style="padding-bottom: 30px; color: #666666;"> lets get started with a quick tour to help you explore us better </div>
  {% if category == 'Student' %}
      <form action="{% url 'students:dashboard' %}">
      <div class="form-group">
      <div class="col-md-4"></div>
      <div class="col-md-4">
      	<button class="btn btn-primary form-control" style="background-color: #006699;">start</button>
      </div>
      <div class="col-md-3"></div>
      </div>
      <div class="em"></div>
      </form>
  {% endif %}
  {% if category == 'Tutor' %}
      <form action="{% url 'tutors:tdash' %}">
      <div class="form-group">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-primary form-control" style="background-color: #006699;">start</button>
      </div>
      <div class="col-md-3"></div>
      </div>
      <div class="em"></div>
      </form>
  {% endif %}
{% endif %}
</div>
</div>

</div>

</div>
</div>
  <script src="{% static 'user_register/bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery-ui.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery.flip.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery.flip.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/jquery.clingify.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/demo.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/some.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/custom.js' %}"></script>

</body>
