{% load staticfiles %}
<head><title>Adaptube Blogs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link href="{% static 'user_register/bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'user_register/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/signup.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/clingify.css' %}" rel="stylesheet">
  <link href="{% static 'user_register/stylesheets/some.css' %}" rel="stylesheet">
  
</head>
<body style="background-color: #dddddd;">
<div style="background-color: #ffffff;">
<div class="container" style="background-color: #ffffff; padding-bottom: 30px;">
    <div class="form-group" style="padding-top:20px;">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" align="center">
    <span style="color: #666666; font-size: 24px;">Adap<b style="color: #006699;">tube</b></span><br>
    <figcaption style="font-size: 10px; color: #999999; line-height: 120%;">Adapting to your needs</figcaption>
    </div>

    </div>
    </div>
    </div>
    <div class="navbar navbar-default" style="background-color: #666666; border-bottom: 1px solid white;">
<div class="navbar-inner">
      <div class="navbar-header pull-left">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" style="background-color: #FFFFFF;"></span>
          <span class="icon-bar" style="background-color: #FFFFFF;"></span>
          <span class="icon-bar" style="background-color: #FFFFFF;"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
        <ul class="nav nav-tabs" id="demo">         
          <li class="nav_zero" id="nav0"><a href="#home" style="color: #FFFFFF;" data-toggle="tab" id="anc1"><i class="fa fa-home fa-1x"></i> Home</a></li>  
          <li class="nav_zero" id="nav1"><a href="#profile" style="color: #FFFFFF;" data-toggle="tab">Profile</a></li> 
          <li class="nav_zero" id="nav2"><a href="#statistics" style="color: #FFFFFF;" data-toggle="tab">Statistics</a></li> 
          <li class="nav_zero" id="nav3"><a href="#schedule" style="color: #FFFFFF;" data-toggle="tab">Schedule</a></li> 
          <li class="nav_zero" id="nav4"><a href="#" style="color: #FFFFFF;" data-toggle="tab">Messages<span class="badge" style="background-color: red;">42</span></a></li>         
        </ul> 
      </div>
</div>
</div>
    <script src="{% static 'user_register/bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/some.js' %}"></script>
  <script src="{% static 'user_register/bootstrap/js/custom.js' %}"></script>
    </body>