 body {
   font-family: 'Merriweather', serif;
   min-width: 460px;
}
section {
  display: block;

}
.space {
  position: relative;
  margin: 0 auto 60px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

#card {


  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 700ms;
  -moz-transition: -moz-transform 700ms;
  -o-transition: -o-transform 700ms;
  transition: transform 700ms;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

#card.flipped {
  -webkit-transform: rotateY( 180deg ) translateZ(1px);
  -moz-transform: rotateY( 180deg ) translateZ(1px);
  -o-transform: rotateY( 180deg ) translateZ(1px);
  transform: rotateY( 180deg ) translateZ(1px);


}

#card figure {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

#card .back_panel {
  -webkit-transform: rotateY( 180deg ) translateZ(1px);
  -moz-transform: rotateY( 180deg ) translateZ(1px);
  -o-transform: rotateY( 180deg ) translateZ(1px);
  transform: rotateY( 180deg ) translateZ(1px);


}


figure {
  margin: 0;

}

#flicker{
  -webkit-transform-style: preserve-3d;
}

.circle {
  background: transparent;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border:1px solid #f00;



}

.main{
  font-size: 12px;
  padding-left: 15px;
  color: red;

}

.hi{
  padding-top: 5px;
  float: left;
}

#b2, #b1 {
  background-color: #CCCCCC;
  color: #006699;
}

#demo li {
  margin-right:15px;
}

#d1, #d2, #d3, #d4, #d5, #d6 {
  margin-right: 70px;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid white;
}

.navbar .nav > li a:hover{
    background-color: transparent;
}

.arr-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-bottom: 10px solid white;
}

.popover{
  border: 1px solid #006699;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 10%; /* Override in-line if you want specific height. */
  float: right; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

.navbar {
    margin-bottom: 0;
}

.pull-right-custom {
  
  float: right !important;
}

@media (max-width: 840px) {
.pull-right-custom {
  margin-right: 10px;
  float: left !important;
}
.nav-tabs > li {
  float: none;
}
.nav-tabs > li + li {
  margin-top: 2px;
  margin-left: 0;
}
}

#demo1 > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
    padding-left: 1px;
    
}

 .navbar-inner-custom {
    text-align:center;
}

.custom-border {
  border-bottom: 3px solid red;
}

.custom-color {
  color: red;
}


#dayname {
  color: #666666;
}
@media (max-width: 460px) {
  #weekday > span {
  width: 50px;
  
}
#weekday1 > span {
  width: 50px;
  
}
#week1 > span {
  width: 50px;
   height: 70px;  
}
#dayname > span {
  width: 50px;

}
}
@media (min-width: 460px) {
  #weekday > span {
  width: 50px;
  
}
#weekday1 > span {
  width: 50px;
  
}
#week1 > span {
  width: 50px;
   height: 70px;  
}
#dayname > span {
  width: 50px;

}
}
@media (min-width: 500px) {
  #weekday > span {
  width: 55px;
  
}
#weekday1 > span {
  width: 55px;
  
}
#week1 > span {
  width: 55px;
   height: 70px;  
}
#dayname > span {
  width: 55px;

}
}
@media (min-width: 525px) {
  #weekday > span {
  width: 58px;
  
}
#weekday1 > span {
  width: 58px;
  
}
#week1 > span {
  width: 60px;
   height: 70px;  
}
#dayname > span {
  width: 60px;

}
}
@media (min-width: 545px) {
  #weekday1 > span {
  width: 61px;
}
  #weekday > span {
  width: 61px;
  
}
}
@media (min-width: 585px) {
  #weekday > span {
  width: 65px;
  
}
#weekday1 > span {
  width: 65px;
  
}
#week1 > span {
  width: 65px;
   height: 70px;  
}
#dayname > span {
  width: 65px;

}
}
@media (min-width: 600px) {
  #weekday > span {
  width: 69px;
  
}
#weekday1 > span {
  width: 69px;
  
}
#week1 > span {
  width: 70px;
   height: 70px;  
}
#dayname > span {
  width: 70px;

}
}
@media (min-width: 620px) {
  #weekday > span {
  width: 72px;
  
}
#weekday1 > span {
  width: 72px;
  
}
#week1 > span {
  width: 73px;
   height: 70px;  
}
#dayname > span {
  width: 73px;

}
}
@media (min-width: 670px) {
  #weekday > span {
  width: 79px;
  
}
#weekday1 > span {
  width: 79px;
  
}
#week1 > span {
  width: 80px;
   height: 70px;  
}
#dayname > span {
  width: 80px;

}
}
@media (min-width: 700px) {
  #weekday > span {
  width: 80px;
  
}
#weekday1 > span {
  width: 80px;
  
}
#week1 > span {
  width: 85px;
   height: 70px;  
}
#dayname > span {
  width: 85px;

}
}
@media (min-width: 740px) {
  #weekday > span {
  width: 89px;
  
}
#weekday1 > span {
  width: 89px;
  
}
#week1 > span {
  width: 90px;
   height: 70px;  
}
#dayname > span {
  width: 90px;

}
}
@media (min-width: 840px) {
  #weekday > span {
  width: 90px;
  
}
#weekday1 > span {
  width: 90px;
  
}
#week1 > span {
  width: 90px;
   height: 70px;  
}
#dayname > span {
  width: 90px;

}
}
@media (min-width: 900px) {

#weekday1 > span {
  width: 90px;
}
  #weekday1 > span {
  width: 90px;
  
}
}
@media (min-width: 990px) {
  #weekday > span {
  width: 110px;
  
}
#weekday1 > span {
  width: 110px;
  
}
#week1 > span {
  width: 120px;
   height: 70px;  
}
#dayname > span {
  width: 120px;

}
}
@media (min-width: 1200px) {
  #weekday > span {
  width: 140px;
  
}
#weekday1 > span {
  width: 140px;
  
}
#week1 > span {
  width: 150px;
   height: 70px;  
}
#dayname > span {
  width: 150px;

}
}
#daybtn, #prev1, #prev2, #prev3 {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
#monbtn, #next1, #next2, #next3 {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;  
}
#weekbtn {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
#week > span {
  width: 190px;
  color: #666666;
}
.cal-cell1 {
  cursor: pointer;
}
#prev, #next, #prev1, #prev2, #prev3, #next1, #next2, #next3, #prev4, #next4 {
  cursor: pointer;
  color: #666666;
}
#week2 > span {
  width: 190px;
  color: #666666;
}
#diagnose {
  float: right; 
  padding-top: 7px; 
  padding-right: 30px; 
  cursor: pointer;
}

