<html>
<head>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true}
});

</script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<body>
<div class="geniedialogue" style="line-height: 2; text-align: justify;">
    <p>{{sol|safe}}</p>
    <p>{{question|safe}}</p>
<!-- {{abc}} {{chosen}} --></div>
<script type="text/x-mathjax-config">

</script>
</body>
</html>

